<div class="interactive-wrapper vicMap">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='chartTitle' id="chartTitle">Confirmed cases of Covid-19 in Victoria</div>
			<div class='subTitle' id="subTitle">Showing the cumulative number of confirmed cases by local government area. Data last updated <span id="lastUpdated"></span></div>
			
			</div>
			<div class="row chartSans" id="vicCoronaMapContainer">	
					<div id="keyDiv" class="mobHide"></div>
			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText">DHHS</span>
			</div>	
			
	</div>
</div>